@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700&display=swap");
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: cadetblue;
}
:root {
  --Primary-50: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.1) 0%,
    rgba(56, 198, 130, 0.1) 100%
  );
  --Primary-100: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.2) 0%,
    rgba(56, 198, 130, 0.2) 100%
  );
  --Primary-200: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.4) 0%,
    rgba(56, 198, 130, 0.4) 100%
  );
  --Primary-300: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.6) 0%,
    rgba(56, 198, 130, 0.6) 100%
  );
  --Primary-400: linear-gradient(
    278.87deg,
    rgba(0, 121, 109, 0.8) 0.61%,
    rgba(56, 198, 130, 0.8) 100%
  );
}

.nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 40px 80px;
}

.nav img{
width: 106px;
height: 29px;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

.nav a{
width: 62px;
height: 14px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 14px;
color: #FFFFFF;
text-decoration: none;
}

.nav-a{
  display: flex;
  column-gap: 40px
}

.nav-button{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;

width: 134px;
height: 56px;

background: linear-gradient(279.69deg, #00796D 0%, #38C682 100%);
border-radius: 100px;
}